IPython
beautifulsoup4
gensim
huggingface_hub
importlib
llama-cpp-python
matplotlib
nltk
numpy
pandas
pytrends
requests
scikit-learn
scipy
seaborn
sentence_transformers
spacy
statsmodels
transformers
